.header {
    background-color: indigo;
    text-align: center;
}

.header-text {
    margin-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}