.username {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    margin-top: -8px;
}

.message {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin-top: -4px;
    margin-bottom: -8px;
}

.timestamp {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
}